.container4 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #000033, #003366);
    height: 115vh;
    text-align: center;
    
}

.cont4-1{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}


.cont4-h{
    margin-top: 3%;
    width: 35%;
    height: 40%;
    padding: 2%;
}


.cont4-hh{
    margin-top: 7%;
    color: white;
    height: 40%;
    width: 40%;
    font-size: 20px;
}

.industries-h{
    color: rgb(226, 78, 159);
    font-weight: bold;
}

.services-h{
    color: white;
    font-size: 40px;
}

.cont4-2{
    display: flex;
    justify-content: space-evenly;
    height: 80%;
}

.cont4-box1, .cont4-box2, .cont4-box3, .cont4-box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 20%;
    border: 1px gray solid;
}

.cont4-p1{
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    height: 5%;
}

.cont4-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aqua;
    color: white;
    width: 2%;
}

.cont4-heading {
    color: white;
    padding-bottom: 10%;
}

@media only screen and (max-width: 600px){
    .container4{
        height: 205vh;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
    }

    .cont4-1{
        display: flex;
        flex-direction: column;
        width: 240%;
        text-align: left;
        padding: 2%;
    }
    
    .services-h{
        margin-top: 3%;
        font-size: 25px;
    }

    .cont4-h{
        padding: 0;
    }

    .cont4-hh{
        margin-top: 7%;
    }
    .cont4-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cont4-box1, .cont4-box2, .cont4-box3, .cont4-box4 {
        margin-top: 10%;
        padding-top: 5%;
        width: 90%;
        align-content: center;
        justify-content: space-around;
}

}